<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>
<div>
  <div>
    <!-- This header will *not* be styled because it is outside `.mat-typography` -->
    <h1>Unstyled Top header</h1>
    <p>(Material Typography doesn't apply here)</p>
    <hr />

    <!-- This paragraph will be styled as `body-1` via the `.mat-body` CSS class applied -->
    <p class="mat-body">Introductory text inside .mat-body class</p>
    <p class="mat-body-1">Body 1 text</p>
    <p class="mat-body-2">Body 2 text</p>
  </div>
  <div class="mat-app-background mat-typography">
    <p>
      This section contains the <code>.mat-app-background</code> class for the
      <b>light theme.</b>
    </p>
    <section>
      <h1>H1 header, .mat-headline</h1>
      <h1 class="mat-h3">h1 tag using mat-h3 class</h1>
      <h2 class="mat-h2">h2 tag using mat-h2 class</h2>
      <p>
        Above headers will be styled as `title` because it is inside
        <code>.mat-typography</code>
      </p>
      <div>
        The following headers are styled in paragraph (<code>`p`</code>) tags.

        <p class="mat-display-4">Display 4</p>
        <p class="mat-display-3">Display 3</p>
        <p class="mat-display-3">Display 2</p>
        <h4 class="mat-display-1">Display 1</h4>

        <h1>h1 header</h1>
        <h2>h2 header</h2>
        <h3>h3 header</h3>
        <h4>h4 header</h4>
        <h5>h5 header</h5>
        <h6>h6 header</h6>
      </div>
      <section>
        <div class="example-label">Basic</div>
        <div class="example-button-row">
          <tiaa-button variant="basic">Basic</tiaa-button>
          <tiaa-button variant="basic" color="primary">Primary</tiaa-button>
          <tiaa-button variant="basic" color="accent">Accent</tiaa-button>
          <tiaa-button variant="basic" color="warn">Warn</tiaa-button>
          <tiaa-button variant="basic" disabled>Disabled</tiaa-button>
          <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Raised</div>
        <div class="example-button-row">
          <tiaa-button variant="raised">Basic</tiaa-button>
          <tiaa-button variant="raised" color="primary">Primary</tiaa-button>
          <tiaa-button variant="raised" color="accent">Accent</tiaa-button>
          <tiaa-button variant="raised" color="warn">Warn</tiaa-button>
          <tiaa-button variant="raised" disabled>Disabled</tiaa-button>
          <a variant="raised" href="https://www.google.com/" target="_blank"
            >Link</a
          >
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Stroked</div>
        <div class="example-button-row">
          <tiaa-button variant="stroke">Basic</tiaa-button>
          <tiaa-button variant="stroke" color="primary">Primary</tiaa-button>
          <tiaa-button variant="stroke" color="accent">Accent</tiaa-button>
          <tiaa-button variant="stroke" color="warn">Warn</tiaa-button>
          <tiaa-button variant="stroke" disabled>Disabled</tiaa-button>
          <a variant="stroke" href="https://www.google.com/" target="_blank"
            >Link</a
          >
        </div>
      </section>
      DIVIDER
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Flat</div>
        <div class="example-button-row">
          <tiaa-button variant="flat">Basic</tiaa-button>
          <tiaa-button variant="flat" color="primary">Primary</tiaa-button>
          <tiaa-button variant="flat" color="accent">Accent</tiaa-button>
          <tiaa-button variant="flat" color="warn">Warn</tiaa-button>
          <tiaa-button variant="flat" disabled>Disabled</tiaa-button>
          <a variant="flat" href="https://www.google.com/" target="_blank"
            >Link</a
          >
        </div>
      </section>
      DIVIDER
      <mat-divider></mat-divider>

      TOOLBARS
      <tiaa-toolbar color="primary"></tiaa-toolbar>
      <tiaa-toolbar color="accent"></tiaa-toolbar>
      <tiaa-toolbar></tiaa-toolbar>
      <section>
        <div class="example-label">Icon</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <tiaa-button
              [isIconButton]="true"
              variant="icon"
              aria-label="Example icon button with a vertical three dot icon"
              icon="more_vert"
            >
              <mat-icon>more_vert</mat-icon>
            </tiaa-button>
            <tiaa-button
              [isIconButton]="true"
              variant="icon"
              color="primary"
              aria-label="Example icon button with a home icon"
              icon="home"
            >
              <mat-icon>home</mat-icon>
            </tiaa-button>
            <tiaa-button
              [isIconButton]="true"
              variant="icon"
              color="accent"
              aria-label="Example icon button with a menu icon"
              icon="menu"
            >
              <mat-icon>menu</mat-icon>
            </tiaa-button>
            <tiaa-button
              [isIconButton]="true"
              variant="icon"
              color="warn"
              icon="favorite"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </tiaa-button>
            <tiaa-button
              variant="icon"
              [isIconButton]="true"
              icon="open_in_new"
              disabled
              aria-label="Example icon button with a open in new tab icon"
              icon="open_in_new"
            >
              <mat-icon>open_in_new</mat-icon>
            </tiaa-button>
          </div>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">FAB</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <tiaa-button
                [isIconButton]="true"
                variant="fab"
                color="primary"
                aria-label="Example icon button with a delete icon"
                icon="delete"
              >
                <mat-icon>delete</mat-icon>
              </tiaa-button>
            </div>
            <div class="example-button-container">
              <tiaa-button
                [isIconButton]="true"
                variant="fab"
                color="accent"
                aria-label="Example icon button with a bookmark icon"
                icon="bookmark"
              >
                <mat-icon>bookmark</mat-icon>
              </tiaa-button>
            </div>
            <div class="example-button-container">
              <tiaa-button
                variant="fab"
                [isIconButton]="true"
                color="warn"
                aria-label="Example icon button with a home icon"
                icon="home"
              >
                <mat-icon>home</mat-icon>
              </tiaa-button>
            </div>
            <div class="example-button-container">
              <tiaa-button
                variant="fab"
                disabled
                aria-label="Example icon button with a heart icon"
                [isIconButton]="true"
                icon="favorite"
              >
                <mat-icon>favorite</mat-icon>
              </tiaa-button>
            </div>
          </div>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Mini FAB</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <tiaa-button
                variant="mini-fab"
                color="primary"
                [isIconButton]="true"
                aria-label="Example icon button with a menu icon"
                icon="menu"
              >
                <mat-icon>menu</mat-icon>
              </tiaa-button>
            </div>
            <div class="example-button-container">
              <tiaa-button
                variant="mini-fab"
                color="accent"
                [isIconButton]="true"
                aria-label="Example icon button with a plus one icon"
                icon="plus_one"
              >
                <mat-icon>plus_one</mat-icon>
              </tiaa-button>
            </div>
            <div class="example-button-container">
              <tiaa-button
                [isIconButton]="true"
                variant="mini-fab"
                color="warn"
                aria-label="Example icon button with a filter list icon"
                icon="filter_list"
              >
                <mat-icon>filter_list</mat-icon>
              </tiaa-button>
            </div>
            <div class="example-button-container">
              <tiaa-button
                [isIconButton]="true"
                variant="mini-fab"
                disabled
                aria-label="Example icon button with a home icon"
                icon="home"
              >
                <mat-icon>home</mat-icon>
              </tiaa-button>
            </div>
          </div>
        </div>
      </section>

      Divider
      <tiaa-divider></tiaa-divider>

      Card
      <tiaa-card></tiaa-card>
      <br />
      <tiaa-stepper>
        <tiaa-step label="Step 1"></tiaa-step>
        <tiaa-step label="Step 2"></tiaa-step>
        <tiaa-step label="Step 3"></tiaa-step>
      </tiaa-stepper>
    </section>
  </div>
  <div class="dark-theme">
    <div class="mat-app-background mat-typography">
      <p>
        This section contains the <code>.mat-app-background</code> class for the
        <b>dark theme.</b>
      </p>
      <div>
        The following headers are styled paragraph tags.
        <p class="mat-display-4">Display 4</p>
        <p class="mat-display-3">Display 3</p>
        <p class="mat-display-3">Display 2</p>
        <h4 class="mat-display-1">Display 1</h4>
        <h1>h1 header</h1>
        <h2>h2 header</h2>
        <h3>h3 header</h3>
        <h4>h4 header</h4>
        <h5>h5 header</h5>
        <h6>h6 header</h6>
      </div>
      TOOLBARS
      <tiaa-toolbar color="primary"></tiaa-toolbar>
      <tiaa-toolbar color="accent"></tiaa-toolbar>
      <tiaa-toolbar></tiaa-toolbar>
      <section>
        <div class="example-label">Basic</div>
        <div class="example-button-row">
          <tiaa-button variant="basic">Basic</tiaa-button>
          <tiaa-button variant="basic" color="primary">Primary</tiaa-button>
          <tiaa-button variant="basic" color="accent">Accent</tiaa-button>
          <tiaa-button variant="basic" color="warn">Warn</tiaa-button>
          <tiaa-button variant="basic" disabled>Disabled</tiaa-button>
          <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Raised</div>
        <div class="example-button-row">
          <tiaa-button variant="raised">Basic</tiaa-button>
          <tiaa-button variant="raised" color="primary">Primary</tiaa-button>
          <tiaa-button variant="raised" color="accent">Accent</tiaa-button>
          <tiaa-button variant="raised" color="warn">Warn</tiaa-button>
          <tiaa-button variant="raised" disabled>Disabled</tiaa-button>
          <a variant="raised" href="https://www.google.com/" target="_blank"
            >Link</a
          >
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Stroked</div>
        <div class="example-button-row">
          <tiaa-button variant="stroke">Basic</tiaa-button>
          <tiaa-button variant="stroke" color="primary">Primary</tiaa-button>
          <tiaa-button variant="stroke" color="accent">Accent</tiaa-button>
          <tiaa-button variant="stroke" color="warn">Warn</tiaa-button>
          <tiaa-button variant="stroke" disabled>Disabled</tiaa-button>
          <a variant="stroke" href="https://www.google.com/" target="_blank"
            >Link</a
          >
        </div>
      </section>
      DIVIDER
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Flat</div>
        <div class="example-button-row">
          <tiaa-button variant="flat">Basic</tiaa-button>
          <tiaa-button variant="flat" color="primary">Primary</tiaa-button>
          <tiaa-button variant="flat" color="accent">Accent</tiaa-button>
          <tiaa-button variant="flat" color="warn">Warn</tiaa-button>
          <tiaa-button variant="flat" disabled>Disabled</tiaa-button>
          <a variant="flat" href="https://www.google.com/" target="_blank"
            >Link</a
          >
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Icon</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <tiaa-button
              [isIconButton]="true"
              variant="icon"
              aria-label="Example icon button with a vertical three dot icon"
              icon="more_vert"
            >
              <mat-icon>more_vert</mat-icon>
            </tiaa-button>
            <tiaa-button
              [isIconButton]="true"
              variant="icon"
              color="primary"
              aria-label="Example icon button with a home icon"
              icon="home"
            >
              <mat-icon>home</mat-icon>
            </tiaa-button>
            <tiaa-button
              [isIconButton]="true"
              variant="icon"
              color="accent"
              aria-label="Example icon button with a menu icon"
              icon="menu"
            >
              <mat-icon>menu</mat-icon>
            </tiaa-button>
            <tiaa-button
              [isIconButton]="true"
              variant="icon"
              color="warn"
              icon="favorite"
              aria-label="Example icon button with a heart icon"
            >
              <mat-icon>favorite</mat-icon>
            </tiaa-button>
            <tiaa-button
              variant="icon"
              [isIconButton]="true"
              icon="open_in_new"
              disabled
              aria-label="Example icon button with a open in new tab icon"
              icon="open_in_new"
            >
              <mat-icon>open_in_new</mat-icon>
            </tiaa-button>
          </div>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">FAB</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <tiaa-button
                [isIconButton]="true"
                variant="fab"
                color="primary"
                aria-label="Example icon button with a delete icon"
                icon="delete"
              >
                <mat-icon>delete</mat-icon>
              </tiaa-button>
            </div>
            <div class="example-button-container">
              <tiaa-button
                [isIconButton]="true"
                variant="fab"
                color="accent"
                aria-label="Example icon button with a bookmark icon"
                icon="bookmark"
              >
                <mat-icon>bookmark</mat-icon>
              </tiaa-button>
            </div>
            <div class="example-button-container">
              <tiaa-button
                variant="fab"
                [isIconButton]="true"
                color="warn"
                aria-label="Example icon button with a home icon"
                icon="home"
              >
                <mat-icon>home</mat-icon>
              </tiaa-button>
            </div>
            <div class="example-button-container">
              <tiaa-button
                variant="fab"
                disabled
                aria-label="Example icon button with a heart icon"
                [isIconButton]="true"
                icon="favorite"
              >
                <mat-icon>favorite</mat-icon>
              </tiaa-button>
            </div>
          </div>
        </div>
      </section>
      <mat-divider></mat-divider>
      <section>
        <div class="example-label">Mini FAB</div>
        <div class="example-button-row">
          <div class="example-flex-container">
            <div class="example-button-container">
              <tiaa-button
                variant="mini-fab"
                color="primary"
                [isIconButton]="true"
                aria-label="Example icon button with a menu icon"
                icon="menu"
              >
                <mat-icon>menu</mat-icon>
              </tiaa-button>
            </div>
            <div class="example-button-container">
              <tiaa-button
                variant="mini-fab"
                color="accent"
                [isIconButton]="true"
                aria-label="Example icon button with a plus one icon"
                icon="plus_one"
              >
                <mat-icon>plus_one</mat-icon>
              </tiaa-button>
            </div>
            <div class="example-button-container">
              <tiaa-button
                [isIconButton]="true"
                variant="mini-fab"
                color="warn"
                aria-label="Example icon button with a filter list icon"
                icon="filter_list"
              >
                <mat-icon>filter_list</mat-icon>
              </tiaa-button>
            </div>
            <div class="example-button-container">
              <tiaa-button
                [isIconButton]="true"
                variant="mini-fab"
                disabled
                aria-label="Example icon button with a home icon"
                icon="home"
              >
                <mat-icon>home</mat-icon>
              </tiaa-button>
            </div>
          </div>
        </div>
      </section>
      <section>
        <br />
        <tiaa-card
          title="This is the Card Title"
          subtitle="This is the Card Subtitle"
          content="The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting."
        >
        </tiaa-card>
        <br />
        <tiaa-stepper>
          <tiaa-step label="Step 1"></tiaa-step>
          <tiaa-step label="Step 2"></tiaa-step>
          <tiaa-step label="Step 3"></tiaa-step>
        </tiaa-stepper>
      </section>
    </div>
  </div>

  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <router-outlet></router-outlet>
</div>
