<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style></style>

<div>
  <!-- This header will *not* be styled because it is outside `.mat-typography` -->
  <h1>H1 Top header</h1>
  <p>(Material Typography doesn't apply here)</p>
  <hr />

  <!-- This paragraph will be styled as `body-1` via the `.mat-body` CSS class applied -->
  <p class="mat-body">Introductory text inside mat-body class</p>
  <p class="mat-body-1">Body 1 text</p>
  <p class="mat-body-2">Body 2 text</p>

  <div class="mat-typography">
    <!-- This header will be styled as `title` because it is inside `.mat-typography` -->
    <h1>H1 header, .mat-headline</h1>
    <h1 class="mat-h3">h1 tag using mat-h3 class</h1>
    <p>
      Above header will be styled as `title` because it is inside
      `.mat-typography`
    </p>
    <h2>h2 header</h2>
    <h3>h3 header</h3>
    <h4>h4 header</h4>
    <h5>h5 header</h5>
    <h6>h6 header</h6>
    <div>
      <section>
        <p class="example-label">Basic</p>
        <div class="example-button-row">
          <tiaa-button variant="basic">Basic</tiaa-button>
          <tiaa-button variant="basic" color="primary">Primary</tiaa-button>
          <tiaa-button variant="basic" color="accent">Accent</tiaa-button>
          <tiaa-button variant="basic" color="warn">Warn</tiaa-button>
          <tiaa-button variant="basic" disabled>Disabled</tiaa-button>
          <a mat-button href="https://www.google.com/" target="_blank">Link</a>
        </div>
      </section>
      <section>
        <p class="example-label">Raised</p>
        <div class="example-button-row">
          <tiaa-button variant="raised" color="primary">Primary</tiaa-button>
          <tiaa-button variant="raised" color="accent">Accent</tiaa-button>
          <tiaa-button variant="raised" color="warn">Warn</tiaa-button>
          <tiaa-button variant="raised" disabled>Disabled</tiaa-button>
          <a mat-raised-button href="https://www.google.com/" target="_blank"
            >Link</a
          >
        </div>
        <tiaa-divider></tiaa-divider>
      </section>
    </div>
  </div>

  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
  <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
  <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
  <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

  <router-outlet></router-outlet>
</div>
