<button
  ngClass="{{ classes }}"
  *ngIf="variant === 'basic'"
  color="{{ color }}"
  mat-button
  [disabled]="isDisabled"
  (click)="onClick.emit($event)"
>
  {{ label }}
</button>

<button
  ngClass="{{ classes }}"
  *ngIf="variant === 'raised'"
  color="{{ color }}"
  mat-raised-button
  [disabled]="isDisabled"
  (click)="onClick.emit($event)"
>
  {{ label }}
</button>

<button
  *ngIf="variant === 'flat'"
  ngClass="{{ classes }}"
  color="{{ color }}"
  mat-flat-button
  [disabled]="isDisabled"
  (click)="onClick.emit($event)"
  value="{{ label }}"
>
  {{ label }}
</button>

<button
  *ngIf="variant === 'stroke'"
  ngClass="{{ classes }}"
  color="{{ color }}"
  mat-stroked-button
  [disabled]="isDisabled"
  (click)="onClick.emit($event)"
>
  {{ label }}
</button>

<button
  *ngIf="variant === 'text'"
  ngClass="{{ classes }}"
  mat-button
  color="{{ color }}"
  [disabled]="isDisabled"
  (click)="onClick.emit($event)"
  value="{{ label }}"
>
  {{ label }}
</button>

<button
  *ngIf="isIconButton === true"
  ngClass="{{ classes }}"
  mat-icon-button
  color="{{ color }}"
  [disabled]="isDisabled"
>
  <mat-icon>{{ icon }}</mat-icon>
</button>

<button
  *ngIf="isIconButton === true && variant === 'fab'"
  ngClass="{{ classes }}"
  mat-fab
  color="{{ color }}"
  [disabled]="isDisabled"
>
  <mat-icon>{{ icon }}</mat-icon>
</button>

<button
  *ngIf="isIconButton === true && variant === 'mini-fab'"
  ngClass="{{ classes }}"
  mat-mini-fab
  color="{{ color }}"
  [disabled]="isDisabled"
>
  <mat-icon>{{ icon }}</mat-icon>
</button>
